div.animation {
  width: 100%;
  height: 100vh;
  background-color: #e08558;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#first {
  stroke-dasharray: 424px;
  stroke-dashoffset: 424px;
  animation: fadeInside 0.6s ease-in forwards;
}

#second {
  stroke-dasharray: 549px;
  stroke-dashoffset: 549px;
  animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 225.3px;
  stroke-dashoffset: 225.3px;
  animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#fourth {
  stroke-dasharray: 356.3px;
  stroke-dashoffset: 356.3px;
  animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#fifth {
  stroke-dasharray: 488.2px;
  stroke-dashoffset: 488.2px;
  animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#sixth {
  stroke-dasharray: 623px;
  stroke-dashoffset: 623px;
  animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#seventh {
  stroke-dasharray: 411.4px;
  stroke-dashoffset: 411.4px;
  animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#eighth {
  stroke-dasharray: 225.3px;
  stroke-dashoffset: 225.3px;
  animation: fadeInside 0.6s ease-in forwards 2.1s;
}

#ninth {
  stroke-dasharray: 411.4px;
  stroke-dashoffset: 411.4px;
  animation: fadeInside 0.6s ease-in forwards 2.4s;
}

#tenth {
  stroke-dasharray: 1490.7px;
  stroke-dashoffset: 1490.7px;
  animation: fadeInside 0.6s ease-in forwards;
}

#eleventh {
  stroke-dasharray: 1139.5px;
  stroke-dashoffset: 1139.5px;
  animation: fadeInside 0.6s ease-in forwards 0.4s;
}

#twelfth {
  stroke-dasharray: 1156.9px;
  stroke-dashoffset: 1156.9px;
  animation: fadeInside 0.6s ease-in forwards 0.8s;
}

#thirteenth {
  stroke-dasharray: 1396.5px;
  stroke-dashoffset: 1396.5px;
  animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#fourteenth {
  stroke-dasharray: 597.2px;
  stroke-dashoffset: 597.2px;
  animation: fadeInside 0.6s ease-in forwards 1.6s;
}

#fifteenth {
  stroke-dasharray: 1277.5px;
  stroke-dashoffset: 1277.5px;
  animation: fadeInside 0.6s ease-in forwards 2s;
}

#sixteenth {
  stroke-dasharray: 1211.1px;
  stroke-dashoffset: 1211.1px;
  animation: fadeInside 0.6s ease-in forwards 2.4s;
}

svg {
  animation: fill 1s ease-in forwards 2.2s;
}

@keyframes fadeInside {
  from {
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0px;
    fill: lightgoldenrodyellow;
  }
}
